name: hello world
on: 
  workflow_dispatch:
  
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello Step
        run: |
          echo "Welcome to jump one"
          echo "welcome to jump two"
