name: Build & Deploy

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.build_step.outputs.version }}
    steps:
      - name: Build Step
        id: build_step
        run: |
          echo "Building the application..."
          echo "version=1.0.0" >> $GITHUB_OUTPUT

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Deploy Step
        run: echo "Deploying the application with version ${{ needs.build.outputs.version }}"
